## Build results
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code (just in case)
.idea/
.vscode/

## Logs
*.log

## OS
.DS_Store
Thumbs.db

## Environment files
appsettings.Development.json
appsettings.Production.json
/.metadata/
