## Build results
bin/
obj/
target/
*.jar

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / VS Code (just in case)
.idea/
.vscode/

## Logs
*.log
*.err

## OS
.DS_Store
Thumbs.db

## Environment files - DO NOT COMMIT
.env
.env.local
appsettings.Development.json
appsettings.Production.json
/.metadata/

## IDE files
*.iml
*.class
*.classpath
.project

## Runtime files
response.json
notification.err
payment.err
